#search{
    background-color:transparent;
    border:0px;
  }

  input[type="button"]{
    outline:none;
 }
 input[type="button"]::-moz-focus-inner {
    border: 0;
 }

 *:focus {
  outline: 0 !important;
}

  .container-heart {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
  }
  .container-heart .btn-holder {
    justify-content: flex-end;
    display: flex;
  }

  #counter{
    float:right;
    margin-left:auto;
    margin-right:3%;
  }

  #navigation-bar{
    background-color:#77B3C8!important;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.7; /* Firefox */
}

  input{
    background-color:#68AAC2!important;
    border:0px;
    color:white!important;
    max-width:70%;

  }

  .card{
    background-color:transparent;
    border:0px;
  }

  .card-body{
    background-color:white;
    border: 1px solid lightgray;
    border-radius:0 0 5px 5px;
  }

  * {
  box-sizing: border-box;
}

  form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
  /* Responsive Styles */
  @media screen and (max-width: 500px) { /*movil*/
    .container{
      padding:35px;
      padding-top:2%;
    }
    .card{
      margin:auto!important;
      padding:0;
      padding-top:0;
      margin-bottom:10%!important;
    }
  }

  @media screen and (min-width: 500px) { /*ordenador*/
    .card{
      padding:10px;
    }
    #logo{
      margin-right:5%;
    }
  }